* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-family: Verdana, sans-serif;
  display: center;
}
body {
  background-color: #eee;
  display: block;
}
header {
  width: 100%;
  min-height: 75px;
  display: flex;
  justify-content: left;
  align-items: center;
  position: fixed;
  top: 0;
  padding: 0px 20px;
  background-color: #eee;
}

#header-img {
  width: 100%;
  height: 100%;
  max-width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0 450px 0 20px;
}
nav {
  display: flex;
  width: 50%;
  max-width: 300px;
  height: 50px;
  font-weight: 400;
}
nav > ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  text-align: right;
  padding-inline-start: 0;
  height: 100%;
  list-style-type: none;
  width: 35vw;
}
li > a {
  text-decoration: none;
  color: inherit;
}
a {
  color: black;
  text-decoration: none;
}
#intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 200px;
  margin-top: 50px;
}
#intro input[type="email"] {
  display: block;
  width: 275px;
  max-width: 275px;
  padding: 5px;
}
#submit {
  max-width: 150px;
  padding: 0 20px;
  max-width: 100%;
  height: 30px;
  margin: 15px 0;
  border: 0;
  background-color: #f1c40f;
  font-size: 1em;
  font-weight: 900;
  border-radius: 2px;
  cursor: pointer;
  text-transform: uppercase;
  justify-content: center;
  align-items: center;
}
h1 {
  font-size: min (5vw, 1.2em);
  margin-bottom: 20px;
}
section {
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 50px;
}
.grid {
  display: flex;
}
.icon {
  font-size: 40px;
  color: orange;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 125px;
  width: 20vw;
}
.container {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
}
#features .description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 125px;
  width: 80vw;
  padding: 5px;
}
.description {
  display: inline-block;
  text-align: left;
}
#how-it-work {
  margin-top: 50px;
  display: flex;
  justify-content: center;
}
iframe {
  max-width: 560px;
  width: 100%;
}
#pricing {
  display: flex;
  flex-direction: row;
  flex-wrap: ;
  justify-content: center;
  align-items: center;
  gap: 16px;
  margin-top: 60px;
  max-width: 100%;
}
.product {
  float: left;
  align-items: center;
  text-align: center;
  width: calc(100% / 3);
  margin: 10px;
  border: 1px solid #000;
  border-radius: 3px;
}
.product > .instrument {
  background-color: #ddd;
  color: black;
  padding: 15px 0;
  width: 100%;
  text-transform: uppercase;
  font-weight: 700;
}
.product > h2 {
  margin-top: 15px;
}
.product > ul {
  margin: 15px 0;
}
.product > ul > li {
  padding: 5px 0;
}
li {
  list-style: none;
}
.product > button {
  border: 0;
  margin: 15px 0;
  background-color: #f1c40f;
  font-weight: 400;
}
.btn {
  padding: 0 20px;
  height: 40px;
  font-size: 1em;
  text-transform: uppercase;
  border-radius: 2px;
  background: transparent;
  cursor: pointer;
}
footer {
  margin-top: 30px;
  padding: 30px;
  background-color: #ddd;
}
footer > ul {
  display: flex;
  justify-content: flex-end;
}
footer > ul > li {
  padding: 0 10px;
}
footer > span {
  margin-top: 5px;
  display: flex;
  justify-content: flex-end;
  font-size: 0.9em;
  color: #444;
}
@media only screen and (max-width: 600px) {
  nav {
    width: 50%;
  }
  #header-img {
    max-width: 50%;
  }
  h1 {
    font-size: 1em;
  }
  iframe {
    max-width: 300px;
  }
  .description {
    margin: 10px 0;
  }
  #pricing {
    flex-direction: column;
    width: 100%;
  }
  .product > h2 {
    font-size: 1rem;
  }
  .product .btn {
    font-size: 1rem;
  }
}
